    .career-tool h1 {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    
    .career-tool .table-heading {
        font-size: 1.3rem;
    }
    
    .career-tool form {
        background-color: #EFEFEF;
        margin-bottom: 30px;
        padding: 20px;
    }
    
    .career-tool ul {
        list-style: none;
    }
    
    .career-tool li {
        margin-bottom: 10px;
        margin-left: -20px;
    }
    
    .career-tool .industry {
        margin-bottom: 10px;
    }
    
    .career-tool .data-row {
        margin-bottom: 30px;
    }